body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

header .logo {
    font-size: 24px;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(42, 131, 148);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.cart-content {
    display: flex;
    justify-content: space-between;
}

.cart-items {
    flex: 2;
    margin-right: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #0d89ab;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.cart-item-details {
    flex: 1;
    margin-left: 10px;
}

.cart-item-price {
    align-self: center;
}

.cart-item-quantity {
    width: 50px;
}

.cart-totals {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subtotal, .total {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1b1150;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #26175c;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}